
<%
const categoriesList = list_categories({ show_count: true });
%>

<% if (is_year() === false) { %>
  <div id="archive">

    <aside>
      <h2>Categories</h2>
      <% if (categoriesList !== "") { %>
        <%-categoriesList%>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>
    <br>

  </div>
<% } else { %>

  <h1><%=page.month + '/' + page.year%></h1>

  <% page.posts.each(article => { %>
    <div class="archive-item">
      <a href="<%=url_for(article.path)%>">
        <%=article.title%>
      </a>
      <time datetime="<%=date_xml(article.date)%>">
        <%=date(article.date)%>
      </time>
    </div>
  <% }) %>

  <div id="paginator">
    <%-paginator()%>
  </div>

<% } %>
