<header class="header">
    <h1 class="title" id="main-title">
        <a href="<%- url_for() %>" class="logo">
            <%= config.title %>
        </a>
    </h1>

    <%
    function getMenuItemClass(url, key) {
      if (url.indexOf(key + '/index') > -1) {
        return 'menu-inner-item menu-inner-item-clicked';
      }

      return 'menu-inner-item';
    }
    %>

    <div class="links">
        <ul id="menu-inner" class="menu-inner">
            <% Object.keys(theme.menu).forEach(key => { %>
            <li class="<%=getMenuItemClass(url, theme.menu[key])%>">
                <a href="<%=theme.menu[key]%>">
                    <%= key %>
                </a>
            </li>
            <% }) %>
        </ul>
    </div>
</header>

<script type="text/javascript">
    function isCurrentPage(url, key) {
      console.log(123)
    }
</script>
